@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: 300;
}

:root {
  --shadow-text: 0 0 1rem #00000075;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

html {
  font-size: 10px;
  overflow: hidden;
}

body {
  animation: home-bg 15s infinite linear;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  opacity: 1;
  backdrop-filter: brightness(1) blur(0.1rem) grayscale(0.5) contrast(1.5);
  display: grid;
  grid-template-areas: "main" "footer";
  grid-template-rows: auto 20rem;
}

@keyframes home-bg {
  0%,
  5% {
    background-image: url(../img/image1.webp);
  }

  15%,
  25% {
    background-image: url(../img/image2.webp);
  }

  40%,
  50% {
    background-image: url(../img/image3.webp);
  }

  65%,
  75% {
    background-image: url(../img/image4.webp);
  }

  90%,
  100% {
    background-image: url(../img/image1.webp);
  }
}

main {
  grid-area: main;
  display: grid;
  place-items: center;

  div {
    padding: 0rem 0rem;
    background-color: #000000dd;
    border-radius: 1.5rem;
    animation: div-h1 1.25s linear forwards;
    border: 0.2rem solid #ffffff05;
  }

  h1 {
    color: #fff;
    text-shadow: 0 0 1rem #00000075;
    font-size: 2.5rem;
    letter-spacing: 4.5rem;
    transform: translateY(10rem);
    width: max-content;
    opacity: 0;
    font-weight: 300;
    animation: home-h1 1s ease-out forwards;
  }
}

@keyframes div-h1 {
  to {
    padding: 3rem 5rem;
  }
}

@keyframes home-h1 {
  to {
    letter-spacing: 0.3rem;
    opacity: 1;
    font-size: 5rem;
    transform: translateY(0);
  }
}

a {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 2rem;
  text-decoration: none;
  color: #ffffff50;
  font-size: 2rem;
  transition: all 0.25s;
  gap: 1rem;

  &:hover {
    gap: 4rem;
    color: #fff;
  }
}

footer {
  grid-area: footer;
  background-image: linear-gradient(to top, #000000aa, #00000088, #00000000);

  p {
    font-size: 2.2rem;
    color: #fff;
    display: flex;
    justify-content: start;
    width: max-content;
    gap: 1rem;
    text-shadow: var(--shadow-text);
    animation: footer 0.5s ease-out forwards;
    opacity: 0;
    scale: 0.75;

    #countArea {
      margin-left: 0.5rem;
      width: 5rem;
    }
  }
}

@keyframes footer {
  to {
    opacity: 1;
    scale: 1;
  }
}
