html {
  scroll-behavior: smooth;
  font-size: 10px;
  overflow-x: hidden;
}

body {
  background-color: #0e0700;

  &::before {
    content: "";
    width: 200vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-100rem);
    animation: intro 1.5s ease-out forwards;
    z-index: 999;
  }
}

@keyframes intro {
  0%,
  50% {
    transform: translateX(-100rem);
  }

  100% {
    transform: translateX(100%);
  }
}

section {
  height: 100vh;
}
